body{
    background-color: #3a635165;
    color: #f2edd7;
}
ul{
   
    color:#f2edd7;
}
p{

    color:#f2edd7;
}
.img1{

    float: left;
    max-width: 100%;
}
h1{
    color:#e48257;
}
h2{
    color:#e48257;
}
nav a{color:#e48257;}
nav a:hover{
    background-color:#393232;
}
nav a:visited{
    color:#8855ff;
}
nav{
    padding: 10px;
    margin-bottom: 30px;
}
.pquote{
    float: right;
}
.clear{
    clear: both;
}
@media only screen and (max-width:600px){
    body{background-color: green;}
    nav{size:100%;}
}

