
body {
    background-color: #3b5d52;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #3b5d52;
    color: #ffffff;
}
main{
    background-color:	#685A67;
    padding: 2%;
    color: #ffffff;
}
article {
    background-color: #d7d1dc;
    color: #103f49;
    padding: 1%;
    margin: 1%;
    border-radius: 5%;

}
nav{
    background-color: #103f49;
    overflow: hidden;
}

nav a:hover {
    background-color: #ffffff;
    color: #000000;
}

nav a {
    float: left;
    display: block;
    padding: 1%;
    text-align: center;
    color: #ffffff;
}
.flexcontainer {
    display: flex;
    flex-direction: row;
    color: #ffffff;
}
#hamicon {width: 35px; display: none;}
.firstrow, .secondrow{
    display:flex;
}
.firstcol, .secondcol{
    flex:1;

}
.secondrow a, .secondcol a {
    color: #ffffff;
}
div{
    border: 1px;
}
footer{
    background-color: #103f49;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    size: 10%;
    padding: 1%;
}
@media only screen and (max-width: 800px) {
    .flexcontainer{flex-direction: column;}
    nav a {
        display: block;
        padding: 10px 0px;
        float:none;
        color: #ffffff
    }
    span {display: none;}
    #hamicon {display: block;}
    #navlinks{display: none;}
}





